html {
  --green-color-1: #A1D998;
  --green-color-2: #74C476;
  --green-color-3: #078836;

  --pink-color-1: #FDE4F2;
  --pink-color-2: #F4B8DA;
  --pink-color-3: #E68BBE;

  --blue-color-1: #D0EFFF;
  --blue-color-2: #2A9DF4;
  --blue-color-3: #187BCD;

  --gray-color-1: #D3D3D3;
  --gray-color-2: #A9A9A9;
  --gray-color-3: #778899;
  --gray-color-4: #696969;

  --logo-color: #7F7F7F;

  --lumo-header-text-color: var(--gray-color-4);
}

h1 {
  font-weight: 500;
  font-size: 30px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
}

header nav a:any-link {
  text-decoration: none;
  padding: 0 var(--lumo-space-s);
  border-radius: var(--lumo-border-radius-m);
  outline: 0;
}

header nav a:hover {
  color: var(--lumo-header-text-color);
}

header nav a:active {
  background-color: var(--lumo-contrast-5pct);
}

header nav a:focus-visible {
  box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
}

header nav a[highlight] vaadin-icon {
  color: var(--lumo-primary-text-color);
}

header nav a[highlight] {
  background-color: var(--lumo-primary-color-10pct);
}

header .banner h1 {
  font-weight: 500;
  font-size: 20px;
  color: var(--blue-color-3);
  margin-bottom: 0;
  margin-left: 12px;
}
